# Exclude data files
*.csv

# Python cache
__pychache__/
*.pyc

#OS files
.DS_Store

# chatgbt example
example.ino

# Ignore all VC Code dummy files
**/[Aa]rduino.h
**/[Ww]ire.h

# Ignore vscode things
.vscode/

